
@{
    ViewBag.Title = "List of Employee";
}
<div class="row">
    <table id="employeeTable" class="table table-condensed">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Position</th>
            </tr>
        </thead>

    </table>
</div>
<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts {
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/javascript.js"></script>
}